{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/"> home <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/board/{{ '자유게시판' }}"> 자유게시판 <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/board/{{ '익명게시판' }}"> 익명게시판 <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-0"> -최근 게시글- </h5>
                                        <p>
                                        <button  type="button" class="btn btn-primary"
                                                 onclick="location.href='/posting'"
                                                style="float:right; margin-top: 30px;">글작성
                                        </button>
                                        </p>
                                    </div>
                                    <table id="table" class="table" style="text-align: center; width: 100%">
                                        <thead>
                                        <tr>
                                            <th>카테고리</th>
                                            <th>제목</th>
                                            <th>글쓴이</th>
                                        </tr>
                                        {% for cn in content %}
                                            <tr>
                                                <th>{{ cn.category }}</th>
                                                <th><a href="/posting/{{ cn.id }}">{{ cn.title }}</a></th>
                                                {% if cn.category == '익명게시판' %}
                                                    <th>익명</th>
                                                {% else %}
                                                    <th>{{ cn.author }}</th>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}