{% extends 'base.html' %}
{% block title %}
    메인페이지
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="text-align: center">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/"> home <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/board/{{ '자유게시판' }}"> 자유게시판 <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="text-align: center;">
                        <a class="nav-link" href="/board/{{ '익명게시판' }}"> 익명게시판 <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    제목 :
                                    {{ content.title }} <br>
                                    작성자 :
                                    {{ content.author }} <br>
                                    {{ content.category }}
                                    {{ content.created }}
                                    {{ content.heart }}
                                    {{ content.content }}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <form action="/comment/{{ content.id }}" method="post">
                                        {% csrf_token %}
                                        {{ comment_form }}
                                        <button type="submit" class="btn btn-primary"
                                                style="float:right; margin-top: 30px;">댓글달기
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    {% for cm in comment %}
                                        <div>
                                            {{ cm.comment }} ({{ cm.author.username }})
                                            {% if user == cm.author %}
                                                <div style="text-align: right">
                                                    <a href="/comment-delete/{{ cm.id }}" style="text-decoration: none;">
                                                        댓글삭제</a>
                                                </div>
                                                <hr>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
{% endblock %}